<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.itstep.lesson_21_services_binding">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".BoundServiceActivity"/>
        <activity android:name=".PendingIntentResultActivity"/>
        <activity android:name=".BroadcastResultActivity"/>
        <activity android:name=".IntentServiceActivity"/>
        <activity android:name=".ForegroundServiceActivity"/>
        <activity android:name=".BoundService2Activity"/>

        <service
            android:name=".service.BoundService"
            android:process=":service"/>
        <service android:name=".service.TaskService"/>
        <service android:name=".service.BroadcastService"/>
        <service android:name=".service.MyIntentService"/>
        <service
            android:name=".service.ForegroundService"
            android:process=":foreground"/>
        <service
            android:name=".service.ConnectionService"
            android:exported="false"/>
    </application>

</manifest>
